<html>
<head>
    <title>Filemanager</title>
    {% include 'RIFileManagerBundle:Default:styles_min.html.twig' %}
    {% include 'RIFileManagerBundle:Default:javascript_tinymce.html.twig' %}
</head>
<body>
    <textarea class="tinymce" name="example" data-theme="advanced">
        <p><img src="/uploads/15/07/27/6/6d/6d7469fb899e909db06116d4d22c363c.png" alt="Zrzut ekranu z 2015-04-20 16:28:58.png" width="1600" height="900" data-mce-selected="1"><br data-mce-bogus="1"></p>
    </textarea>

    {{ tinymce_init() }}
</body>
</html>