<html>
<head>
    <title>Filemanager</title>
    {% include 'RIFileManagerBundle:Default:styles_min.html.twig' %}
    {% include 'RIFileManagerBundle:Default:javascript_tinymce.html.twig' %}
</head>
<body>
    <textarea class="tinymce" name="example" data-theme="advanced"></textarea>

    {{ tinymce_init() }}
</body>
</html>