<html>
<head>
    <title>Filemanager</title>
    {% include 'RIFileManagerBundle:Default:css.html.twig' %}
    {% include 'RIFileManagerBundle:Default:javascript_min.html.twig' %}
</head>
<body>
    {% include 'RIFileManagerBundle:Default:filemanager.html.twig' %}
</body>
</html>