<html>
<head>
    {% include 'RIFileManagerBundle:Default:styles_min.html.twig' %}
    {% include 'RIFileManagerBundle:Default:javascript_min.html.twig' %}
    <script>
        var fm = angular.module('fm', ['filemanager'])
                .config(['configProviderProvider', function (configProviderProvider) {
                    configProviderProvider.setConfig({{ filemanager_configuration|json_encode|raw }});
                }]);
    </script>
</head>
<body>
    <div class="container">
        <div class="filemanager" ng-app="fm">
            <div class="animation" ng-view  style="width: 100%;"></div>
        </div>
    </div>
</body>
</html>
