<html>
<head>
    {% include 'CMSAdminBundle:Default:css.html.twig' %}
    {% include 'RIFileManagerBundle:Default:styles_min.html.twig' %}
    {% include 'RIFileManagerBundle:Default:javascript.html.twig' %}
    <script>
        var fm = angular.module('fm', ['filemanager'])
                .config(['configProviderProvider', function (configProviderProvider) {
                    configProviderProvider.setConfig({
                        /**
                         * Callback function execute after select file
                         */
                        filesSelectCallback: parent.filesSelectCallback,
                        /**
                         * Callback function execute after select dir
                         */
                        dirSelectCallback: null
                    })
                }]);
    </script>
</head>
<body>
    <div class="filemanager" ng-app="fm">
        <h1>Filemanager</h1>
        <div class="animation" ng-view  style="width: 100%;"></div>
    </div>
</body>
</html>
