{% include 'RIFileManagerBundle:Default:styles.html.twig' %}
{% include 'RIFileManagerBundle:Default:javascript.html.twig' %}
<div class="container filemanager" ng-app="fm">
    <div class="animation" ng-view  style="width: 100%;"></div>
</div>